"""
Settings for fgcom_site project.

For more information on this file, see
https://docs.djangoproject.com/en/1.8/topics/settings/

For the full list of settings and their values, see
https://docs.djangoproject.com/en/1.8/ref/settings/
"""

# Build paths inside the project like this: os.path.join(BASE_DIR, ...)
import os

BASE_DIR = os.path.dirname(os.path.dirname(os.path.abspath(__file__)))

# SECURITY WARNING: don't run with debug turned on in production!
DEBUG = True

ALLOWED_HOSTS = []

ATIS_DIR = '/var/fgcom-server/atis'

AMI_IP = '127.0.0.1'
AMI_PORT = 5038
AMI_USER = b'username'
AMI_PASSWORD = b'password'
AMI_TIME_BEFORE_RETRY = 60  # 60 seconds
AMI_BUFFER_SIZE = 1024


# Database
# https://docs.djangoproject.com/en/1.8/ref/settings/#databases

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': os.path.join(BASE_DIR, 'db.sqlite3'),
    }
}
